{% extends "../layouts/app.html" %}

{% block title %} KIB C {% endblock title %}

{% block navmenuopenkib %} menu-open {% endblock navmenuopenkib %}
{% block navactivekib %} active {% endblock navactivekib %}

{% block navactivekibc %} active {% endblock navactivekibc %}

{% block content-header-page %}
<li class="breadcrumb-item"><a href="#">Kartu Inventaris Barang C (Gedung dan Bangunan) </a></li>
<li class="breadcrumb-item active"></li>
{% endblock content-header-page %}

{% block print %}
  <table>
    <form  action="{% url 'aset:Print_kibc'%}" method="POST"  target="_blank">
      {% csrf_token %}
    <tr>
      <td>
        <select name="id_ruangan" class="form-control" required >
          <option value="" selected disabled hidden>Pilih Ruangan / Pelaksana Kegiatan / Lokasi</option>
          {% for k in kiba %}
          <option value="{{k.id_ruang}}">{{k.nama_ruang}} / {{k.id_kelompok.nama_kelompok}} /{{k.id_lokasi.nama_lokasi}}</option>
          {% endfor %}
        </select>
      </td>
      <td  style="text-align: right; "><button type="submit"  class="btn btn-outline-success "></a> KIB C</button></td>
    </tr>
  </form>
  <tr>
    <td></td>
    <td style="text-align: right;"><a href="{% url 'aset:Print_kibcF'%}" title="Cetak Aset KIB C" target="_blank" ><button class="btn btn-light"><i class="fas fa-print" style="color: rgb(0, 0, 0);"></i> Full</button></a></td>
  </tr>
  </table>
  
{% endblock print %}

{% block content %}
{% load humanize %}
<div class="row">
    <!-- Left col -->
    <section class="col-lg-12 connectedSortable">
      <!-- Custom tabs (Charts with tabs)-->
      <div class="card card-outline card-success">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fas fa-sd-card mr-1"></i>
            Kartu Inventaris Barang C (Gedung dan Bangunan)
          </h3>
        
          </div><!-- /.card-header -->
        <div class="card-body">
            <!-- Morris chart - Sales -->
                  <table class="table table-striped table-hover table-sm" id="example2">
                    <thead class="table-success">
                      <tr>
                        <th scope="col">No</th>
                        <th scope="col">Kode Aset</th>
                        <th scope="col">Nama Aset</th>
                        <th scope="col">Pelaksana Kegiatan Yayasan</th>
                        <th scope="col">Ruangan Aset</th>
                        <th scope="col">Lokasi Aset</th>
                        <th scope="col">Kontruksi Bertingkat</th>
                        <th scope="col">Kontruksi Beton</th>
                        <th scope="col">Luas Lantai</th>
                        <th scope="col">Tanggal Dokumen Gedung</th>
                        <th scope="col">No Dokumen Gedung</th>
                        <th scope="col">Luas Keseluruhan</th>
                        <th scope="col">Status Tanah</th>
                        <th scope="col">No Kode Tanah</th>
                        <th scope="col">Harga</th>
                        <th scope="col">Asal Usul</th>
                        <th scope="col">Aksi</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for kibc in object_list%}
                      <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{kibc.id_aset.id_ruangan.id_kelompok_id}}-{{kibc.id_aset.id_jenis.id_klasifikasi_id}}-{{kibc.id_aset.id_jenis_id}}-{{kibc.id_aset.id_ruangan.id_lokasi_id}}-{{kibc.id_aset.no}}-{{kibc.id_aset.tahun_perolehan}}</td>
                        <td>{{kibc.id_aset}}</td>
                        <td>{{kibc.id_aset.id_ruangan.id_kelompok.nama_kelompok}}</td>
                        <td>{{kibc.id_aset.id_ruangan}}</td>
                        <td>{{kibc.id_aset.id_ruangan.id_lokasi}}</td>
                        {% if kibc.kontruksi_bertingkat == 1 %}
                        <td>Ya</td>
                        {% elif kibc.kontruksi_bertingkat == 0 %}
                        <td>Tidak</td>
                        {% endif %}
                        {% if kibc.kontruksi_beton == 1 %}
                        <td>Ya</td>
                        {% elif kibc.kontruksi_beton == 0 %}
                        <td>Tidak</td>
                        {% endif %}
                        <td>{{kibc.luas_lantai}} M <sup> 2 </sup></td>
                        <td>{{kibc.tanggal_dokumen_gedung |date:'d-M-Y'}}</td>
                        <td>{{kibc.no_dokumen_gedung}}</td>
                        <td>{{kibc.luas }} M <sup> 2 </sup> </td>
                        <td>{{kibc.status_tanah}}</td>
                        <td>{{kibc.no_kode_tanah}}</td>
                        <td>Rp.{{kibc.id_aset.harga|intcomma}}</td>
                        <td>{{kibc.id_aset.asal_usul }}</td>
                        <td>
                          <style> 
                                  i.jambu{color:green}
                          </style>                          
                          <a href="{% url 'aset:editKibc' kibc.id_aset.id_aset %}"  class="btn btn-sm jambu"><i class="fas fa-edit jambu"></i></a> 
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>                              
            </div>   
        </div><!-- /.card-body -->
      </div>
      </div>
      <!-- /.card -->
    </section>
    <!-- /.Left col -->
  </div>
{% endblock content %}