{% extends "../layouts/app.html" %}

{% block title %} Aset {% endblock title %}

{% block navmenuopendataaset %} menu-open {% endblock navmenuopendataaset %}
{% block navactivedataaset %} active {% endblock navactivedataaset %}

{% block navactivedaftaraset %} active {% endblock navactivedaftaraset %}





{% block content-header-page %}
<li class="breadcrumb-item"><a href="">Data Aset Yayasan</a></li>
<li class="breadcrumb-item"><a href="{% url 'aset:detailData' data.id_aset %}">Detail Data Aset Yayasan</a></li>
<li class="breadcrumb-item active"></li>

{% endblock content-header-page %}


{% block content %}
<div class="row">
    <!-- Left col -->
    <section class="col-lg-12 connectedSortable">
      <!-- Custom tabs (Charts with tabs)-->
      <div class="card card-outline card-success">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fas fa-archive mr-1"></i>
            Data Aset 
          </h3>

          </div><!-- /.card-header -->
        <div class="card-body">
          
          <form action="{% url 'aset:editData' data.id_aset %}" method="POST" enctype="multipart/form-data" id="indexForm" >
            {% csrf_token %}
            <div class="form-row">
              <div class="form-group col-md-3">
                <input type="hidden" name="id_aset" class="form-control" id="id_aset" value="{{ data.id_aset}}" readonly required>
              </div>
            </div>            
            <div class="form-row">
              <div class="form-group col-md-3">
                <label for="nama_aset">Nama Aset</label>
                <input type="text" name="nama_aset" class="form-control" id="nama_aset" value="{{ data.nama_aset}}" maxlength="50" required>
              </div>
              <div class="form-group col-md-3">
                <label for="no_register">Nomor Register Aset</label>
                <input type="text" name="no_register" class="form-control" id="no_register" value="{{ data.no_register}}" maxlength="20" required>
              </div>
              <div class="form-group col-md-3">
                <label for="id_jenis"> Klasifikasi | Jenis Aset</label>
                <select  id="id_jenis " name="id_jenis" class=" form-control " required>
                  {% for j in jenis %}
                  <option value="{{j.id_jenis}}" {% if j.id_jenis == data.id_jenis %}  selected {% endif %}>{{j.id_klasifikasi }} | {{j.nama_jenis}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group col-md-3">
                <label for="id_ruangan"> Ruangan  | Pelaksana | Lokasi  </label>
                <select  id="id_ruangan " name="id_ruangan" class=" form-control "  required>
                  {% for ruangs in ruangan %}
                  <option value="{{ruangs.id_ruang}}" {% if ruangs.id_ruang == data.id_ruangan %}  selected {% endif %}>{{ruangs.nama_ruang}} | {{ruangs.id_lokasi.nama_lokasi}} | {{ruangs.id_kelompok.nama_kelompok}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-1">
                <label for="no">No Urut</label>
                <input type="number" name="no" class="form-control " value="{{ data.no}}" id="no" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length== 4) return false;" min="1" required >
              </div>   
              
              <div class="form-group col-md-2">
                <label for="tahun_perolehan">Tahun Perolehan</label>
                <input type="number" name="tahun_perolehan" class="form-control" value="{{ data.tahun_perolehan}}" id="tahun_perolehan" min="1990" pattern="/^-?\d+\.?\d*$/" placeholder="2020" onKeyPress="if(this.value.length==4) return false;" required>
              </div>
        
              <div class="form-group col-md-4">
                <label for="asal_usul">Asal Usul Aset</label>
                <input type="text" name="asal_usul" class="form-control" value="{{ data.asal_usul }}" id="asal_usul" maxlength="50" required>
              </div>
        
              <div class="form-group col-md-3">
                <label for="harga">Harga Aset</label>
                <div class="input-group mb-2">
                <span class="input-group-text">Rp.</span>
                <input type="number" name="harga" class="form-control " id="harga"  value="{{ data.harga }}" pattern="/^-?\d+\.?\d*$/" placeholder="20.000" onKeyPress="if(this.value.length==11) return false;" min="1" required>
                </div>
              </div>
              <div class="form-group col-md-2">
                <label for="status_aset"> Status Aset </label>
                <select  id="status_aset " name="status_aset" class=" form-control " required>
                  <option value="B" {% if data.status_aset == "B" %}  selected {% endif %}>Baik</option>
                  <option value="KB"{% if data.status_aset == "KB" %}  selected {% endif %}>Kurang Baik</option>
                  <option value="RB"{% if data.status_aset == "RB" %}  selected {% endif %}>Rusak Berat</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label for="keterangan">Keterangan Aset</label>
                <textarea name="keterangan" id="keterangan" rows="10"  class="form-control"  placeholder="Masukkan keterangan aset ........" >{{ data.keterangan }}</textarea>
              </div>
            </div>
      
                <button type="submit" class="btn btn-success">Ubah Data </button>
                <a href="{% url 'aset:detailData' data.id_aset %}" class="btn btn-primary">Kembali</a>
          </form>
        </div><!-- /.card-body -->
      </div>
      </div>
      <!-- /.card -->
    </section>
    <!-- /.Left col -->
  </div>
{% endblock content %}